@media print {
    div.print-content article.node .node-blog .clearfix div.item-body p a { display: none; }

    .compact-problemset div.ttypography {
        margin: 0 !important;
    }

    .compact-problemset .problem-statement p {
        margin-bottom: 0.75em !important;
        page-break-inside: avoid;
    }
    .compact-problemset .problem-frames {
        column-count: 2;
    }

    .compact-problemset .problem-statement .input,
    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement {
        margin: 0.25em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.45em;
        font-size: 1.4rem;
    }

    .compact-problemset #header {
        display: none;
    }

    .compact-problemset .problem-statement .time-limit,
    .compact-problemset .problem-statement .memory-limit {
        display: inline;
    }

    .compact-problemset .problem-statement .time-limit::after {
        content: ", ";
    }

    .compact-problemset .problem-statement .property-title {
        display: none;
    }

    .compact-problemset .problem-statement .input-file,
    .compact-problemset .problem-statement .output-file {
        display: none;
    }

    .compact-problemset .problem-statement .sample-tests .section-title,
    .compact-problemset .problem-statement .note .section-title {
        display: none;
    }

    .compact-problemset .input-output-copier {
        display: none;
    }
}

.problem-statement {
    margin: 0.5em;
    /*font-family: verdana,arial,sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1.4rem;
}

.problem-statement .epigraph {
/*    margin-left: 67%;*/
/*    width: 33%;*/
}

.problem-statement .epigraph-text {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
}

.problem-statement p {
    margin: 0 0 1em 0 !important;
}

.problem-statement .header {
    margin-bottom: 1em;
    text-align: center;
}

.problem-statement .header .title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.problem-statement .header .title {
    font-size: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.problem-statement ul {
    list-style: disc;
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement ol {
    list-style: decimal;
    list-style-type: decimal;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement li {
    line-height: 1.5em;
    margin-left: 3em;
}

.problem-statement .property-title {
    display: inline;
    padding-right: 4px;
}

.problem-statement .property-title:after {
    content: ":";
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file, .problem-statement .output-file {
    margin: 0 auto;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
    font-size: 115%;
    font-weight: bold;
}

.problem-statement .input-specification,
    .problem-statement .output-specification,
    .problem-statement .sample-tests,
    .problem-statement .author,
    .problem-statement .resource,
    .problem-statement .date {
    /*margin-bottom: 1em;*/
}

.problem-statement .output-specification {
    margin-bottom: 1em;
}

.problem-statement .sample-tests .sample-test {
}

.problem-statement .sample-tests .input, .problem-statement .sample-tests .output {
    border: 1px solid #888;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.problem-statement .sample-tests pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
}

.problem-statement .sample-tests {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
    font-size: 0.9em;
}

.problem-statement .sample-tests .title {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: arial,sans-serif;*/
    font-size: 1.3em;
    padding: 0.25em;
    border-bottom: 1px solid #888;
    text-transform: lowercase;
    font-weight: bold;
}

.problem-statement .test {
    margin-bottom: 3em;
}

.problem-statement .test-title {
    /*font-size: 150%;*/
    font-weight: bold;
}

.problem-statement .test-stem, .problem-statement .test-explanation-note {
    margin: 0.5em 0 0.5em 0;
}

.problem-statement input[type="submit"] {
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0 1em;
}

.problemindexholder {
    position: relative;
}

div .problem-statement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 50;
    opacity: 0.2;
}

.load-answers-waiting-indicator {
    position: absolute;
    top: 49%;
    left: 49%;
}

.problem-statement input[type="radio"] {
    margin-right: 0.5em;
}

.problem-statement input[type="checkbox"] {
    margin-right: 0.5em;
}


.problem-statement input[type="text"] {
    width: 20em;
}

.problem-statement textarea {
    width: 20em;
    height: 7em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.tex-formula {
    font-family: times new roman,sans-serif;
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman,sans-serif;
    white-space: nowrap;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new,monospace;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-it {
    font-style: italic;
}

.tex-font-style-sl {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-font-style-striked {
    text-decoration: line-through;
}

.tex-font-style-underline {
    text-decoration: underline;
}

.tex-graphics {
    display: block;
}

.tex-font-style-part {
    font-size: 187.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-chapter {
    font-size: 162.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-section {
    font-size: 137.5%;
    font-weight: bold;
}

.tex-font-style-subsection {
    font-size: 125%;
    font-weight: bold;
}

.tex-font-style-subsubsection {
    font-size: 112.5%;
    font-weight: bold;
}

.tex-font-style-paragraph {
    font-size: 100%;
    font-weight: bold;
}

.tex-font-style-subparagraph {
    font-size: 100%;
    font-style: italic;
}

div.ttypography textarea,
div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}

div.ttypography {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    base: 14px;
    line-height: 21px;
    color: #222;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin: 1.5em 0 0 0 !important;
    /*background-color: #ffffff;*/
}

div.ttypography .tt {
    margin: 0 4px;
    padding: 2px 4px;
    /*white-space: nowrap;*/
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-image: initial;
}

div.ttypography h1,
div.ttypography h2,
div.ttypography h3,
div.ttypography h4,
div.ttypography h5,
div.ttypography h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #161e21;
    margin: 0;
}

div.ttypography h1 {
    font-size: 250%;
    line-height: 0.8571em;
        margin: 0.4286em 0 0;
}

div.ttypography h2 {
    font-size: 200%;
    line-height: 1.2em;
    margin: 0.6em 0 0 0;
}

div.ttypography h3 {
    font-size: 175%;
    line-height: 0.8571em;
    margin: 0.8571em 0 0 0;
}

div.ttypography h4 {
    font-size: 150%;
    line-height: 1.25em;
    margin: 1.25em 0 0 0;
}

div.ttypography h5 {
    font-size: 135%;
    line-height: 1.2857em;
    margin: 1.2857em 0 0 0;
}

div.ttypography h6 {
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
}

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

div.ttypography ul,
div.ttypography ol,
div.ttypography dl {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em 0 0 1em;
}

div.ttypography ul {
    list-style-type: disc;
}

div.ttypography ol {
    list-style-type: decimal;
}

div.ttypography ul ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
}

div.ttypography ol ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography li {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.8em;
}

div.ttypography dt {
    font-weight: bold;
}

div.ttypography dd {
    margin: 0 0 1.5em 0.8em;
}

div.ttypography p:not(:first-child) {
    margin: 1.5em 0 0 0;
}

div.ttypography p {
    font-size: 1em;
    line-height: 1.4em;
}

div.ttypography blockquote,
div.ttypography cite,
div.ttypography q {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

div.ttypography blockquote {
    margin: 1.5em 0 0 1.5em;
    color: #666;
}

div.ttypography strong,
div.ttypography b {
    font-weight: bold;
}

div.ttypography em,
div.ttypography i {
    font-style: italic;
}

div.ttypography big {
    font-size: 116.667%;
}

div.ttypography small {
    font-size: 85.71%;
}

div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography tt,
div.ttypography samp,
div.ttypography var {
    font-size: 100%;
}

div.ttypography pre {
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.ttypography pre, div.ttypography code {
    color: #800;
}

div.ttypography pre.lstlisting {
    background-color: #eff0f1;
    margin: 0.75em 0;
}

div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    color: #666;
    font-weight: bold;
}

div.ttypography var,
div.ttypography dfn {
    font-style: italic;
}

div.ttypography acronym,
div.ttypography abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
}

div.ttypography sub,
div.ttypography sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

div.ttypography sup {
    top: -0.5em;
}

div.ttypography sub {
    bottom: -0.25em;
}

div.ttypography mark {
    background: #ff0;
    color: #000;
}

div.ttypography hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.75em 0;
    border: 0;
    border-bottom: 1px #eee solid;
}

div.ttypography a {
    color: #4D87C7;
    background: transparent;
    text-decoration: none;
}

div.ttypography a:active {
    outline: none;
}

/* (en) maximum constrast for tab focus - change with great care */
/* (en) Maximaler Kontrast f�_r Tab Focus - �"ndern Sie diese Regel mit Bedacht */
div.ttypography a:hover,
div.ttypography a:focus {
    background-color: #800;
    color: #fff;
    text-decoration: none;
}

/* --- images ------------------ */

div.ttypography img,
div.ttypography figure {
    margin: 0;
}

div.ttypography .flexible {
    margin-top: 1.5em;
    max-width: 100%;
}

div.ttypography .bordered {
    margin-top: 1.5em;
    border: 2px #eee solid;
    border: 2px rgba(255, 255, 255, 1) solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

div.ttypography table {
    border-collapse: collapse;
    margin: 1.3571em 0 0 0;
    color: #222;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

div.ttypography table.narrow {
    margin: 1.4286em 0 0 0;
}

div.ttypography table.narrow th,
div.ttypography table.narrow td {
    padding: 0 0.5em;
    line-height: 1.4286em;
}

div.ttypography table.bordertable {
    border: 1px #ccc solid;
}

div.ttypography table caption {
    font-variant: small-caps;
}

div.ttypography th,
div.ttypography td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.7143em 0.5em;
}

div.ttypography th *:first-child,
td *:first-child {
    margin-top: 0;
}

div.ttypography th.nowrap,
div.ttypography td.nowrap {
    white-space: nowrap;
}

div.ttypography thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px #000 solid;
    font-weight: bold;
}

div.ttypography .bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    font-weight: bold;
}

div.ttypography .bordertable tbody th[scope="row"] {
    background: #f0f0f0;
}

div.ttypography tbody th {
    text-align: left;
    border-top: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

div.ttypography .bordertable tbody th {
    border-right: 1px solid #ccc;
    font-weight: bold;
}

div.ttypography tbody td {
    text-align: left;
    border-top: 1px solid #ccc;
}

div.ttypography .bordertable tbody td {
    border-right: 1px solid #ccc;
}

/* highlight row on mouse over */
div.ttypography tbody tr:hover th,
div.ttypography tbody tr:hover td {
    background: #f8f8f8;
}

div.ttypography pre code {
    font-size: 95%;
    position: relative;
}

div.ttypography .MathJax {
    color: black !important;
}

.MathJax_Hover_Frame {border-radius: .25em; -webkit-border-radius: .25em; -moz-border-radius: .25em; -khtml-border-radius: .25em; box-shadow: 0px 0px 15px #83A; -webkit-box-shadow: 0px 0px 15px #83A; -moz-box-shadow: 0px 0px 15px #83A; -khtml-box-shadow: 0px 0px 15px #83A; border: 1px solid #A6D ! important; display: inline-block; position: absolute}
.MathJax_Menu_Button .MathJax_Hover_Arrow {position: absolute; cursor: pointer; display: inline-block; border: 2px solid #AAA; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; font-family: 'Courier New',Courier; font-size: 9px; color: #F0F0F0}
.MathJax_Menu_Button .MathJax_Hover_Arrow span {display: block; background-color: #AAA; border: 1px solid; border-radius: 3px; line-height: 0; padding: 4px}
.MathJax_Hover_Arrow:hover {color: white!important; border: 2px solid #CCC!important}
.MathJax_Hover_Arrow:hover span {background-color: #CCC!important}


#MathJax_About {position: fixed; left: 50%; width: auto; text-align: center; border: 3px outset; padding: 1em 2em; background-color: #DDDDDD; color: black; cursor: default; font-family: message-box; font-size: 120%; font-style: normal; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -khtml-border-radius: 15px; box-shadow: 0px 10px 20px #808080; -webkit-box-shadow: 0px 10px 20px #808080; -moz-box-shadow: 0px 10px 20px #808080; -khtml-box-shadow: 0px 10px 20px #808080; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
#MathJax_About.MathJax_MousePost {outline: none}
.MathJax_Menu {position: absolute; background-color: white; color: black; width: auto; padding: 5px 0px; border: 1px solid #CCCCCC; margin: 0; cursor: default; font: menu; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; box-shadow: 0px 10px 20px #808080; -webkit-box-shadow: 0px 10px 20px #808080; -moz-box-shadow: 0px 10px 20px #808080; -khtml-box-shadow: 0px 10px 20px #808080; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
.MathJax_MenuItem {padding: 1px 2em; background: transparent}
.MathJax_MenuArrow {position: absolute; right: .5em; padding-top: .25em; color: #666666; font-size: .75em}
.MathJax_MenuActive .MathJax_MenuArrow {color: white}
.MathJax_MenuArrow.RTL {left: .5em; right: auto}
.MathJax_MenuCheck {position: absolute; left: .7em}
.MathJax_MenuCheck.RTL {right: .7em; left: auto}
.MathJax_MenuRadioCheck {position: absolute; left: .7em}
.MathJax_MenuRadioCheck.RTL {right: .7em; left: auto}
.MathJax_MenuLabel {padding: 1px 2em 3px 1.33em; font-style: italic}
.MathJax_MenuRule {border-top: 1px solid #DDDDDD; margin: 4px 3px}
.MathJax_MenuDisabled {color: GrayText}
.MathJax_MenuActive {background-color: #606872; color: white}
.MathJax_MenuDisabled:focus, .MathJax_MenuLabel:focus {background-color: #E8E8E8}
.MathJax_ContextMenu:focus {outline: none}
.MathJax_ContextMenu .MathJax_MenuItem:focus {outline: none}
#MathJax_AboutClose {top: .2em; right: .2em}
.MathJax_Menu .MathJax_MenuClose {top: -10px; left: -10px}
.MathJax_MenuClose {position: absolute; cursor: pointer; display: inline-block; border: 2px solid #AAA; border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; -khtml-border-radius: 18px; font-family: 'Courier New',Courier; font-size: 24px; color: #F0F0F0}
.MathJax_MenuClose span {display: block; background-color: #AAA; border: 1.5px solid; border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px; -khtml-border-radius: 18px; line-height: 0; padding: 8px 0 6px}
.MathJax_MenuClose:hover {color: white!important; border: 2px solid #CCC!important}
.MathJax_MenuClose:hover span {background-color: #CCC!important}
.MathJax_MenuClose:hover:focus {outline: none}


.MathJax_Preview .MJXf-math {color: inherit!important}


.MJX_Assistive_MathML {position: absolute!important; top: 0; left: 0; clip: rect(1px, 1px, 1px, 1px); padding: 1px 0 0 0!important; border: 0!important; height: 1px!important; width: 1px!important; overflow: hidden!important; display: block!important; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none}
.MJX_Assistive_MathML.MJX_Assistive_MathML_Block {width: 100%!important}


#MathJax_Zoom {position: absolute; background-color: #F0F0F0; overflow: auto; display: block; z-index: 301; padding: .5em; border: 1px solid black; margin: 0; font-weight: normal; font-style: normal; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; box-shadow: 5px 5px 15px #AAAAAA; -webkit-box-shadow: 5px 5px 15px #AAAAAA; -moz-box-shadow: 5px 5px 15px #AAAAAA; -khtml-box-shadow: 5px 5px 15px #AAAAAA; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')}
#MathJax_ZoomOverlay {position: absolute; left: 0; top: 0; z-index: 300; display: inline-block; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; background-color: white; opacity: 0; filter: alpha(opacity=0)}
#MathJax_ZoomFrame {position: relative; display: inline-block; height: 0; width: 0}
#MathJax_ZoomEventTrap {position: absolute; left: 0; top: 0; z-index: 302; display: inline-block; border: 0; padding: 0; margin: 0; background-color: white; opacity: 0; filter: alpha(opacity=0)}


.MathJax_Preview {color: #888}
#MathJax_Message {position: fixed; left: 1em; bottom: 1.5em; background-color: #E6E6E6; border: 1px solid #959595; margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap}
#MathJax_MSIE_Frame {position: absolute; top: 0; left: 0; width: 0px; z-index: 101; border: 0px; margin: 0px; padding: 0px}
.MathJax_Error {color: #CC0000; font-style: italic}

.MJXp-script {font-size: .8em}
.MJXp-right {-webkit-transform-origin: right; -moz-transform-origin: right; -ms-transform-origin: right; -o-transform-origin: right; transform-origin: right}
.MJXp-bold {font-weight: bold}
.MJXp-italic {font-style: italic}
.MJXp-scr {font-family: MathJax_Script,'Times New Roman',Times,STIXGeneral,serif}
.MJXp-frak {font-family: MathJax_Fraktur,'Times New Roman',Times,STIXGeneral,serif}
.MJXp-sf {font-family: MathJax_SansSerif,'Times New Roman',Times,STIXGeneral,serif}
.MJXp-cal {font-family: MathJax_Caligraphic,'Times New Roman',Times,STIXGeneral,serif}
.MJXp-mono {font-family: MathJax_Typewriter,'Times New Roman',Times,STIXGeneral,serif}
.MJXp-largeop {font-size: 150%}
.MJXp-largeop.MJXp-int {vertical-align: -.2em}
.MJXp-math {display: inline-block; line-height: 1.2; text-indent: 0; font-family: 'Times New Roman',Times,STIXGeneral,serif; white-space: nowrap; border-collapse: collapse}
.MJXp-display {display: block; text-align: center; margin: 1em 0}
.MJXp-math span {display: inline-block}
.MJXp-box {display: block!important; text-align: center}
.MJXp-box:after {content: " "}
.MJXp-rule {display: block!important; margin-top: .1em}
.MJXp-char {display: block!important}
.MJXp-mo {margin: 0 .15em}
.MJXp-mfrac {margin: 0 .125em; vertical-align: .25em}
.MJXp-denom {display: inline-table!important; width: 100%}
.MJXp-denom > * {display: table-row!important}
.MJXp-surd {vertical-align: top}
.MJXp-surd > * {display: block!important}
.MJXp-script-box > *  {display: table!important; height: 50%}
.MJXp-script-box > * > * {display: table-cell!important; vertical-align: top}
.MJXp-script-box > *:last-child > * {vertical-align: bottom}
.MJXp-script-box > * > * > * {display: block!important}
.MJXp-mphantom {visibility: hidden}
.MJXp-munderover, .MJXp-munder {display: inline-table!important}
.MJXp-over {display: inline-block!important; text-align: center}
.MJXp-over > * {display: block!important}
.MJXp-munderover > *, .MJXp-munder > * {display: table-row!important}
.MJXp-mtable {vertical-align: .25em; margin: 0 .125em}
.MJXp-mtable > * {display: inline-table!important; vertical-align: middle}
.MJXp-mtr {display: table-row!important}
.MJXp-mtd {display: table-cell!important; text-align: center; padding: .5em 0 0 .5em}
.MJXp-mtr > .MJXp-mtd:first-child {padding-left: 0}
.MJXp-mtr:first-child > .MJXp-mtd {padding-top: 0}
.MJXp-mlabeledtr {display: table-row!important}
.MJXp-mlabeledtr > .MJXp-mtd:first-child {padding-left: 0}
.MJXp-mlabeledtr:first-child > .MJXp-mtd {padding-top: 0}
.MJXp-merror {background-color: #FFFF88; color: #CC0000; border: 1px solid #CC0000; padding: 1px 3px; font-style: normal; font-size: 90%}
.MJXp-scale0 {-webkit-transform: scaleX(.0); -moz-transform: scaleX(.0); -ms-transform: scaleX(.0); -o-transform: scaleX(.0); transform: scaleX(.0)}
.MJXp-scale1 {-webkit-transform: scaleX(.1); -moz-transform: scaleX(.1); -ms-transform: scaleX(.1); -o-transform: scaleX(.1); transform: scaleX(.1)}
.MJXp-scale2 {-webkit-transform: scaleX(.2); -moz-transform: scaleX(.2); -ms-transform: scaleX(.2); -o-transform: scaleX(.2); transform: scaleX(.2)}
.MJXp-scale3 {-webkit-transform: scaleX(.3); -moz-transform: scaleX(.3); -ms-transform: scaleX(.3); -o-transform: scaleX(.3); transform: scaleX(.3)}
.MJXp-scale4 {-webkit-transform: scaleX(.4); -moz-transform: scaleX(.4); -ms-transform: scaleX(.4); -o-transform: scaleX(.4); transform: scaleX(.4)}
.MJXp-scale5 {-webkit-transform: scaleX(.5); -moz-transform: scaleX(.5); -ms-transform: scaleX(.5); -o-transform: scaleX(.5); transform: scaleX(.5)}
.MJXp-scale6 {-webkit-transform: scaleX(.6); -moz-transform: scaleX(.6); -ms-transform: scaleX(.6); -o-transform: scaleX(.6); transform: scaleX(.6)}
.MJXp-scale7 {-webkit-transform: scaleX(.7); -moz-transform: scaleX(.7); -ms-transform: scaleX(.7); -o-transform: scaleX(.7); transform: scaleX(.7)}
.MJXp-scale8 {-webkit-transform: scaleX(.8); -moz-transform: scaleX(.8); -ms-transform: scaleX(.8); -o-transform: scaleX(.8); transform: scaleX(.8)}
.MJXp-scale9 {-webkit-transform: scaleX(.9); -moz-transform: scaleX(.9); -ms-transform: scaleX(.9); -o-transform: scaleX(.9); transform: scaleX(.9)}
.MathJax_PHTML .noError {vertical-align: ; font-size: 90%; text-align: left; color: black; padding: 1px 3px; border: 1px solid}

.MathJax_Display {text-align: center; margin: 1em 0em; position: relative; display: block!important; text-indent: 0; max-width: none; max-height: none; min-width: 0; min-height: 0; width: 100%}
.MathJax .merror {background-color: #FFFF88; color: #CC0000; border: 1px solid #CC0000; padding: 1px 3px; font-style: normal; font-size: 90%}
.MathJax .MJX-monospace {font-family: monospace}
.MathJax .MJX-sans-serif {font-family: sans-serif}
#MathJax_Tooltip {background-color: InfoBackground; color: InfoText; border: 1px solid black; box-shadow: 2px 2px 5px #AAAAAA; -webkit-box-shadow: 2px 2px 5px #AAAAAA; -moz-box-shadow: 2px 2px 5px #AAAAAA; -khtml-box-shadow: 2px 2px 5px #AAAAAA; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true'); padding: 3px 4px; z-index: 401; position: absolute; left: 0; top: 0; width: auto; height: auto; display: none}
.MathJax {display: inline; font-style: normal; font-weight: normal; line-height: normal; font-size: 100%; font-size-adjust: none; text-indent: 0; text-align: left; text-transform: none; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0; min-height: 0; border: 0; padding: 0; margin: 0}
.MathJax:focus, body :focus .MathJax {display: inline-table}
.MathJax.MathJax_FullWidth {text-align: center; display: table-cell!important; width: 10000em!important}
.MathJax img, .MathJax nobr, .MathJax a {border: 0; padding: 0; margin: 0; max-width: none; max-height: none; min-width: 0; min-height: 0; vertical-align: 0; line-height: normal; text-decoration: none}
img.MathJax_strut {border: 0!important; padding: 0!important; margin: 0!important; vertical-align: 0!important}
.MathJax span {display: inline; position: static; border: 0; padding: 0; margin: 0; vertical-align: 0; line-height: normal; text-decoration: none; box-sizing: content-box}
.MathJax nobr {white-space: nowrap!important}
.MathJax img {display: inline!important; float: none!important}
.MathJax * {transition: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none}
.MathJax_Processing {visibility: hidden; position: fixed; width: 0; height: 0; overflow: hidden}
.MathJax_Processed {display: none!important}
.MathJax_test {font-style: normal; font-weight: normal; font-size: 100%; font-size-adjust: none; text-indent: 0; text-transform: none; letter-spacing: normal; word-spacing: normal; overflow: hidden; height: 1px}
.MathJax_test.mjx-test-display {display: table!important}
.MathJax_test.mjx-test-inline {display: inline!important; margin-right: -1px}
.MathJax_test.mjx-test-default {display: block!important; clear: both}
.MathJax_ex_box {display: inline-block!important; position: absolute; overflow: hidden; min-height: 0; max-height: none; padding: 0; border: 0; margin: 0; width: 1px; height: 60ex}
.MathJax_em_box {display: inline-block!important; position: absolute; overflow: hidden; min-height: 0; max-height: none; padding: 0; border: 0; margin: 0; width: 1px; height: 60em}
.mjx-test-inline .MathJax_left_box {display: inline-block; width: 0; float: left}
.mjx-test-inline .MathJax_right_box {display: inline-block; width: 0; float: right}
.mjx-test-display .MathJax_right_box {display: table-cell!important; width: 10000em!important; min-width: 0; max-width: none; padding: 0; border: 0; margin: 0}
.MathJax .MathJax_HitBox {cursor: text; background: white; opacity: 0; filter: alpha(opacity=0)}
.MathJax .MathJax_HitBox * {filter: none; opacity: 1; background: transparent}
#MathJax_Tooltip * {filter: none; opacity: 1; background: transparent}
@font-face {font-family: MathJax_Blank; src: url('about:blank')}
.MathJax .noError {vertical-align: ; font-size: 90%; text-align: left; color: black; padding: 1px 3px; border: 1px solid}
